<div class="container">
  <div class="row">
    <%= render "public/items/genre_find", genre: @genre %>

    <div class="col-md-7 d-flex align-items-center justify-content-center top-content">
      <p class="">
        ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-3 my-3">
      <h3><strong>新着商品</strong></h3>
      <div class="d-flex">
        <%= render "public/items/item", items: @items %>
        <% paginate @items %>
      </div>
      <div class="text-right">
        <%= link_to "全ての商品を見る>", items_path %>
      </div>
    </div>
  </div>
</div>
