<div class="container">
  <div class="row">
    <%= render "public/items/genre_find", genre: @genre %>

    <div class="col-md-7 main-container">
      <%= image_tag 'cake_girls.jpeg', class: "background" %></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-3 my-3">
      <h3><strong>新着商品</strong></h3>
      <div class="d-flex">
        <%= render "public/items/item", items: @items %>
      </div>
    </div>
  </div>
</div>
