<div class="container">
  <div class="row">
    <%= render "public/items/genre_find", genre: @genre %>
    
    <div class="col-md-8">
      <h3><strong>商品一覧</strong>（全　件）</h3>
      <div class="d-flex">
        <%= render "public/items/item", items: @items %>
      </div>
    </div>
    
  </div>
</div>